/*-----color for all links in site-----*/
a:link {
  color: white; }

/*visitedlink*/
a:visited {
  color: white; }

/*mousehover*/
a:hover {
  color: red; }

/*-----end of links-----*/
/*-----allNav-----*/
.navbar {
  background-color: #8c001a;
  display: block;
  margin-top: 20%;
  text-align: center; }
  .navbar li {
    display: inline-block;
    margin-right: 5%;
    font-size: 2em; }

/*-----end all navs-----*/
/*-----footer all pages-----*/
footer {
  margin: 2%; }
  footer .copy {
    color: red;
    font-size: 10px;
    text-align: center; }

/*-----end footer all pages-----*/
/*-----index page-----*/
body {
  background-image: url("../images/photos/logo.png");
  background-repeat: no-repeat;
  background-size: 25%;
  margin: 0 auto;
  background-color: black; }

.about {
  max-width: 45%;
  margin-left: 25%; }
  .about h1 {
    color: red;
    text-align: center;
    padding-bottom: 2%; }
  .about .tab {
    text-indent: 5%; }
  .about section {
    color: white; }

/*-----endindex body-----*/
/*-----menu-----*/
.table {
  color: white; }
  .table .size {
    color: red;
    width: 30%;
    margin-left: 30%; }
    .table .size h2 {
      font-size: 35px;
      text-align: center; }
  .table .pizza {
    background-color: pink;
    width: 75%;
    margin-left: 15%; }
    .table .pizza h3 {
      text-align: center;
      color: red;
      font-size: 35px; }

/*-----locations page-----*/
.mapouter {
  width: 500px;
  height: 500px;
  margin-left: 25%;
  margin-top: 3%;
  text-align: center; }

#gmap_canvas {
  width: 500px;
  height: 500px;
  overflow: hidden; }

/*-----delivery page----*/
