/*-----color for all links in site-----*/
a:link {
  color: white; }

/*visitedlink*/
a:visited {
  color: white; }

/*mousehover*/
a:hover {
  color: red; }

/*-----end of links-----*/
/*-----allNav-----*/
.navbar {
  background-color: #8c001a;
  height: 8%;
  width: 100%;
  margin-top: 20%; }
  .navbar li {
    text-align: center;
    display: inline-block;
    padding: 2%;
    font-size: 2em; }

/*-----end all navs-----*/
/*-----footer all pages-----*/
footer {
  margin: 2%; }
  footer .copy {
    color: r;
    font-size: 10px;
    text-align: center; }

/*-----end footer all pages-----*/
/*-----index page-----*/
body {
  background-image: url("../images/photos/logo.png");
  background-repeat: no-repeat;
  background-size: 25%;
  margin: 0 auto;
  background-color: black; }

.about {
  max-width: 45%;
  margin-left: 25%; }
  .about h1 {
    color: red;
    text-align: center; }
  .about section {
    color: white; }

/*-----endindex body-----*/
/*-----locations page-----*/
.mapouter {
  background-color: orange;
  width: 400px;
  height: 300px;
  margin-left: 35%; }

iframe {
  max-width: 600px; }

/*-----delivery page----*/
