$r: red;
$w: #FFFFFF;
$c: crimson;
$d: darkred;
$m: maroon;
$b: black;


/*-----color for all links in site-----*/

a:link{
    color: $w;
}
/*visitedlink*/
a:visited{
    color: $w;
}
/*mousehover*/
a:hover{
    cursor: crosshair;
    color: $r;
}

/*-----end of links-----*/
/*---------------------*/
/*-----index page-----*/

#img-container {
    overflow: hidden;

    figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 10s slider infinite;

        img {
            width: 20%;
            float: left;
            height: 400px;
        }
    }

}

@keyframes slider {
  0% {
      left: 0;
  }
  20% {
      left: 0;
  }
  25% {
      left: -100%;
  }
  30%{
      left: -100%;
  }
  35%{
      left: -200%;
  }
  45%{
      left: -200%;
  }
  50%{
      left: -300%;
  }
  70%{
      left: -300%;
  }
  75%{
      left: -400%;
  }
  85%{
      left: -400%;
  }
  100%{
      left: -400%;
  }
}

.naavbar{
    background-color: $b;
    ul{
        margin-left: 18%;
    }
    li{
        display: inline-block;
        text-align: center;
        padding-left: 8%;
    }
}

.about{
    background-color: $m;
    width: 45%;
    margin-left: 27%;
    padding: 2%;
    h1{
        text-align: center;
        color: $w;

    }
    .tab{
        margin-left: 14px;
    }
}
footer{
    background-color: $r;
}
/*-----endindex body-----*/
/*---------------------*/
/*-----allNav-----*/
.navbar{
    background-color: black;
    display: block;
    text-align: center;
    li{
        display: inline-block;
        margin-right: 5%;
    }
}
/*-----end all navs-----*/
/*---------------------*/
/*-----menu page-----*/
.top-vid{
background-color: $b;
   width: 100%;
   height: 220px;
   img{
       height:65px;
       z-index: 10;
       float: left;
   }
    video{
        height: 220px;
        margin-left: 25%;
   }
}
.table{
    font-size: 12px;
    background-image: radial-gradient(circle, $w, #FFFFE0, #CCCC00, #FFD700);
    table{
        margin-left: 20%;
    }
    h1{
        font-size: 55px;
        text-align: center;
        margin-bottom: 5%;
        color: $r;
    }
    span{
        font-size: 30px;
        font-weight: bold;
        text-align: left;
    }
    .bold{
        font-size: 13px;
        font-weight: bold;
    }
    .top{
        text-align: center;
        text-decoration: underline;
        font-size: 1em;
    }
    .td{
        font-size: 20px;
    }
}
/*-----end menu page*/
/*-------------------*/
/*-----reviewspage-----*/
.img-logo{
    float: left;
    height: 52px;
}
.horace{
    background-color: blue;
    width: 25%;
}
/*-----endreviewspage-----*/
/*----------------------*/
/*-----locations page-----*/
.mapouter{
    width: 500px;
    height: 500px;
    margin-left: 25%;
    margin-top: 3%;
    text-align: center;
}
#gmap_canvas{
    width: 500px;
    height: 500px;
    overflow:hidden;
}
.info{
    background-color: pink;
    width: 25%;
    z-index: 5;
    .tab{

    }
}
/*-----endlocationpage-----*/
/*-----delivery page----*/

/*-----footer all pages-----*/
footer{
    margin: 2%;
    .copy{
        color: $r;
        font-size: 10px;
        text-align: center;
    }
}
/*-----end footer all pages-----*/
/*-----*/
